.header {
    height: 50px;
    background-color: #2980B9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3px;
}

.left-menu {
    display: flex;
    align-items: center;
}
.right-menu {
    display: flex;
    align-items: center;
}

.board {
    display: flex;
    align-items: center;
    background-color: #6495ED;
    padding: 0 10px;
    border-radius: 2px;
    margin-right: 20px;
    height: 40px;
}
.board-logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.search {
    width: 100px;
    background-color: #6495ED;
    padding: 0 10px;
    border-radius: 2px;
    height: 40px;
    line-height: 40px;

}

.right-menu-btn {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 2px;
    margin: 0 10px;
}
.light-bg {
    background-color: #6495ED;
}

.user {
    border-radius: 50%;
}